airtable-python-wrapper==0.15.3
beautifulsoup4==4.12.2
cachetools==5.5.2
certifi==2025.7.14
charset-normalizer==3.4.2
feedparser==6.0.10
google-api-core==2.25.1
google-api-python-client==2.108.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
googleapis-common-protos==1.70.0
httplib2==0.22.0
idna==3.10
praw==7.7.1
prawcore==2.4.0
proto-plus==1.26.1
protobuf==6.31.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
PyYAML==6.0.1
requests==2.31.0
rsa==4.9.1
schedule==1.2.0
sgmllib3k==1.0.0
six==1.17.0
soupsieve==2.7
update-checker==0.18.0
uritemplate==4.2.0
urllib3==2.5.0
websocket-client==1.8.0
